body {
    background-color: #f8f9fa;
}

h1, h2, h3 {
    color: #333;
}

.table {
    margin-top: 20px;
    background-color: #fff;
}

.navbar {
    margin-bottom: 20px;
}
#flash-message {
    transition: opacity 1s ease-out;
}

#flash-message.fade {
    opacity: 0;
    display: none;
}
