{% extends "base.html" %}
{% block content %}
    <h1 class="text-center">Welcome to Namma Kadai</h1>

    <h2>Items</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Item ID</th>
                <th>Item Name</th>
                <th>Price (₹)</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.qty }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
