{% extends "base.html" %}
{% block content %}
    <h2>Reports</h2>
    <h3>Current Cash Balance: ₹{{ cash_balance }}</h3>

    <h2>Item Stock Report</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Item ID</th>
                <th>Item Name</th>
                <th>Price (₹)</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.qty }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
